.creations-container {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: auto;

  h2 {
    text-align: center;
  }
  .creations-content {
    width: 100%;

    .creation-img {
      width: 100%;
      margin: 1rem 0;
    }
  }
}
