header {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-image: $headerMobile;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .container {
    width: 75%;
    margin: auto;
    padding: 1.5rem;
    border: 2px solid $white;

    p {
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 30px;
      color: $white;
      line-height: 2.5rem;
      letter-spacing: 2px;
    }
  }
}
