header {
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: $headerMobile;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .container {
    margin: 30vh auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    padding: 1.5rem;
    text-align: left;
    font-size: 30px;
    color: $white;
    border: 2px solid $white;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
