.VRcontainer {
  width: 90%;
  margin: auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    width: 80%;
    font-weight: 600;
    color: $darkGray;
    line-height: 1.6rem;
  }

  img {
    width: 100%;
    margin: auto;
  }
}
