html {
  box-sizing: initial;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  font-family: $fontSecondary;
  font-size: 15px;
  overflow-x: hidden;
  background-color: $white;
}
h2 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: $black;
}
