$fontPrimary: "Alata", sans-serif;
$fontSecondary: "Josefin Sans", sans-serif;

//Colors:

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$darkerGray: hsl(0, 0%, 41%);

//BG Images:

$headerMobile: url("/assets/images/mobile/image-hero.jpg");
